@page "/"
@using BlazorClient.Models
@using BlazorClient.Services
@inject UserService UserService
@inject NavigationManager Navigation

<h3><strong>Korisnici:</strong></h3>

<div>
    <button @onclick="NavigateToLog">Log</button>
</div>
<div>
    <div>
        <table>
            <thead>
            <tr>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Broj logiranja</th>
                <th>Ispravi</th>
                <th>Obriši</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in _users)
            {
                <tr>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.LoginCount</td>
                    <td><button @onclick="() => EditUser(user)">Ispravi</button></td>
                    <td><button @onclick="() => DeleteUser(user)">Obriši</button></td>
                </tr>
            }
            </tbody>
        </table>
        
    </div>
    @if (_showEditForm && _selectedUser != null)
    {
        <EditUserForm
            UserToEdit="_selectedUser"
            OnUserEdited="OnUserEdited"
            OnCancel="ToggleEditUserForm" />
    }
    @if (_showAddUserForm)
    {
        <AddUserForm OnUserAdded="OnUserAdded" OnCancel="ToggleAddUserForm" />
    }
    else
    {
        <button @onclick="ToggleAddUserForm">Dodaj novog korisnika</button>
    }
</div>


@code {
    private List<User> _users = new();
    private UserRegistration _userRegistration = new();
    private UserUpdate _selectedUser = new();
    private bool _showAddUserForm = false;
    private bool _showEditForm = false;

    protected override async Task OnInitializedAsync()
    {
        _users = await UserService.GetUsers();
    }
    
    private async Task EditUser(User user)
    {
        _selectedUser.Id = user.Id;
        Console.WriteLine(_selectedUser);
        _showEditForm = true;
    }
    
    private async Task DeleteUser(User user)
    {
        var success = await UserService.DeleteUser(user.Id);
        if (success)
        {
            _users.Remove(user);
        }
    }
    
    private void ToggleAddUserForm()
    {
        _showAddUserForm = !_showAddUserForm;
    }
    
    private void ToggleEditUserForm()
    {
        _showEditForm = !_showEditForm;
    }
    
    private void NavigateToLog()
    {
        Navigation.NavigateTo("/log");
    }
    
    private async Task OnUserAdded(User user)
    {
        //_users = await UserService.GetUsers();
        _users.Add(user);
        _showAddUserForm = false;
    }
    
    private async Task OnUserEdited()
    {
        _users = await UserService.GetUsers();
        _showEditForm = false;
    }
}
